@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: linear-gradient(to top, #000, #252525);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header1 {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 35px;
    background-color: #000;
    margin-bottom: 20px !important;
}

    .header1 img {
        height: 70px;
        margin-right: 10px;
    }

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card {
    margin-top: 20px;
    margin-bottom: 100px;
    color: white;
    width: 734px;
    background-color: #000;
    border-radius: 8px;
    padding: 85px 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

    .logo img {
        height: 40px;
        margin-right: 10px;
    }


.title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        color: white;
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

.formBTN {
    padding: 32px 0px;
    color: white;
}

    .formBTN input {
        font-size: 16px;
        letter-spacing: normal;
        text-transform: none;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: white !important;
        width: 100%;
        background-color: #F73859;
        box-shadow: none;
        border-radius: 500px;
        min-block-size: 48px;
    }

        .formBTN input:hover {
            transform: scale(1.04);
            background-color: #f74a67;
        }

.text-center {
    text-align: center;
}

    .text-center a {
        color: #fff;
        text-decoration: none;
    }

        .text-center a:hover {
            text-decoration: underline;
        }

#sign_up_log {
    margin-top: 50px;
}

input[type="text"], input[type="email"], input[type="password"] {
    background-color: #121212 !important;
}

.header1 a {
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
    border-bottom: none;
    color: none;
}
.avatar-options {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.avatar {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: none;
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
}

    .avatar.selected {
        box-shadow: 0 2px 2px 2px #F73859;
        border-radius: 100%;
    }